.signupbody {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.signup-header {
    text-align: center;
    margin: 20px 0;
    margin-top: -5px;
    width: 100%;
    padding: 13px 0;
    border-radius: 8px;
    background: linear-gradient(to right, rgb(68, 109, 126), rgb(231, 96, 129));
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.12);
}

.signup-header h1 {
    color: #333;
    font-size: 2.5rem;
    font-weight: 700;
}


.tab-btn {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 28px;
}
.tab-btn button {
    display: flex;
    width: 120px;
    align-items: center;
    gap: 8px;
    padding: 10px 35px;
    background: #e2e8f0;
    color: #2d3748;
    border: none;
    border-radius: 8px 8px 0 0;
    font-size: 1.05rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
    transition: ease-in-out 0.8s;
}
.tab-btn button.active{
    background: #0f3758;
    color: #fff;
    box-shadow: 0 4px 16px rgba(49,130,206,0.12);
}
.tab-btn button.active:hover{
    background: #3187ce;
    color: #fff;
    box-shadow: 0 4px 16px rgba(49,130,206,0.12);
    transform: scale(1.08);
    transition: ease-in-out 0.4s;
}
.tab-btn button:hover:not(.active) {
    background: #cbd5e0;
    color: #3187ce;
    transform: scale(1.08);
    transition: ease-in-out 0.4s;
}





.login-container {
    width: 450px;
    height: 450px;
    margin: 60px auto;
    padding: 32px 24px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 1px 12px rgba(0,0,2,50);
    text-align: center;
    margin-right: 20px;
}
.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 70px;
}
.login-form div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.login-form label {
    font-weight: 600;
    margin-bottom: 8px;
    color: #555;
}
.login-form input {
    width: 95%;
    max-width: 95%;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid #cbd5e0;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.2s;
}
.login-form input:focus {
    border-color: #3182ce;
    outline: none;
}
.login-form button {
    margin-top: 25px;
    margin-left: 50px;
    width: 290px;
    padding: 10px 20px;
    background: linear-gradient(to right, rgb(68, 109, 126), rgb(231, 96, 129));
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s;
    transition: ease-in-out 1.8s;
}
.login-form button:hover {
  transform: scale(1.2);
  transition: 0.4s;
  border-radius: 30px;
  width:310px ;
}
